parameters:
	ignoreErrors:
		-
			message: "#^Anonymous function should have native return typehint \"void\"\\.$#"
			count: 1
			path: app/Exceptions/Handler.php

		-
			message: "#^Implicit array creation is not allowed \\- variable \\$input does not exist\\.$#"
			count: 1
			path: app/Http/Controllers/CommentController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\CommentController\\:\\:store\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: app/Http/Controllers/CommentController.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Post\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<App\\\\Models\\\\Post\\>\\:\\:\\$active\\.$#"
			count: 2
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Post\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<App\\\\Models\\\\Post\\>\\:\\:\\$author_id\\.$#"
			count: 2
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Post\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<App\\\\Models\\\\Post\\>\\:\\:\\$body\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Post\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<App\\\\Models\\\\Post\\>\\:\\:\\$slug\\.$#"
			count: 4
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Post\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<App\\\\Models\\\\Post\\>\\:\\:\\$title\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Call to an undefined method App\\\\Models\\\\Post\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<App\\\\Models\\\\Post\\>\\:\\:delete\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Call to an undefined method App\\\\Models\\\\Post\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<App\\\\Models\\\\Post\\>\\:\\:save\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\View\\\\View\\:\\:withPost\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\View\\\\View\\:\\:withPosts\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Dynamic call to static method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<App\\\\Models\\\\Post\\>\\:\\:orderBy\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Implicit array creation is not allowed \\- variable \\$data does not exist\\.$#"
			count: 2
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\PostController\\:\\:create\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\PostController\\:\\:destroy\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\PostController\\:\\:destroy\\(\\) has parameter \\$id with no typehint specified\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\PostController\\:\\:edit\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\PostController\\:\\:edit\\(\\) has parameter \\$slug with no typehint specified\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\PostController\\:\\:show\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\PostController\\:\\:show\\(\\) has parameter \\$slug with no typehint specified\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\PostController\\:\\:store\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\PostController\\:\\:update\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Only booleans are allowed in &&, App\\\\Models\\\\Post\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<App\\\\Models\\\\Post\\>\\|null given on the left side\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Only booleans are allowed in &&, mixed given on the left side\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Only booleans are allowed in a negated boolean, App\\\\Models\\\\Post\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<App\\\\Models\\\\Post\\>\\|null given\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Only booleans are allowed in a negated boolean, mixed given\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Only booleans are allowed in an if condition, mixed given\\.$#"
			count: 2
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Method App\\\\Models\\\\Comment\\:\\:author\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: app/Models/Comment.php

		-
			message: "#^Method App\\\\Models\\\\Comment\\:\\:post\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: app/Models/Comment.php

		-
			message: "#^Method App\\\\Models\\\\Post\\:\\:author\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: app/Models/Post.php

		-
			message: "#^Method App\\\\Models\\\\Post\\:\\:comments\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: app/Models/Post.php

		-
			message: "#^Method App\\\\Models\\\\User\\:\\:can_post\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Method App\\\\Models\\\\User\\:\\:comments\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Method App\\\\Models\\\\User\\:\\:is_admin\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Anonymous function should have native return typehint \"Illuminate\\\\Cache\\\\RateLimiting\\\\Limit\"\\.$#"
			count: 1
			path: app/Providers/RouteServiceProvider.php

		-
			message: "#^Anonymous function should have native return typehint \"void\"\\.$#"
			count: 1
			path: app/Providers/RouteServiceProvider.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 1
			path: app/Providers/RouteServiceProvider.php

